<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://cdn.tailwindcss.com/3.4.13"></script>
</head>




<body class="bg-gray-100 min-h-screen">

    <!-- Sticky Menu -->
  <nav class="bg-white shadow sticky top-0 z-50">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
      <div class="flex items-center">
        <span class="ml-3 text-xl font-semibold text-gray-800">Fastly Object Storage</span>
      </div>
      <div>
        <a href="/" class="text-red-600 hover:text-red-800 font-medium text-lg transition">
          Setup
        </a>
        <a href="/bucket" class="text-red-600 hover:text-red-800 font-medium text-lg transition">
          Create Bucket
        </a>
        <a href="/upload" class="text-red-600 hover:text-red-800 font-medium text-lg transition">
          upload
        </a>
        <a href="/s3/list-files" class="text-red-600 hover:text-red-800 font-medium text-lg transition">
          List Files
        </a>
      </div>
    </div>
  </nav>


    {{{body}}}
</body>

</html>